<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="../public/1.jpeg"/>
    <h1>Question #1: Which fact is false about Darinka?</h1>
    <form id="fromOneId">
        <button name={question}>Has travelled to 35+ countries</button>
        <button name="q2">Favourite holiday is Christmas</button>
        <button name="q3">Had 2 pet spider monkeys at home</button>
        <button id="questionOneId" name="q4">Dug up dinosaurs in 2015 in Alberta</button>
    </form>
    <script>
        var questions = [
      {
        question: "Which fact is false about Darinka?",
        q1: "a) Has travelled to 35+ countries",
        q2: "b) Favourite holiday is Christmas",
        q3: "c) Had 2 pet spider monkeys at home",
        q4: "d) Dug up dinosaurs in 2015 in Alberta",
        answer: "b"
      }
    </script>
</body>

</html>