<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .visible{
            position: absolute;
            top:20%;
            left:50%;
            width: 400px;
            height: 300px;
            background-color: blanchedalmond;
        }
        .visibleNextButton{
            display:block
        }

        .defaultNextButton{
            display: none;
        }
    </style>
</head>

<body>
    <img src="../public/1.jpeg"/>
    <h1>Question #1: Which fact is false about Darinka?</h1>
    <button onclick="SendAnswer(1,1)">Has travelled to 35+ countries</button>
    <button onclick="SendAnswer(2,1)">Favourite holiday is Christmas</button>
    <button onclick="SendAnswer(3,1)">Had 2 pet spider monkeys at home</button>
    <button onclick="SendAnswer(4,1)">Dug up dinosaurs in 2015 in Alberta</button>
    <div>
        <button id="nextButton" class="defaultNextButton">Next</button>
    </div>
    <script>
        var answerDiv = document.querySelector("div")
        var nextButton = document.querySelector("#nextButton")
        function SendAnswer(ans, ques) {
            fetch(`http://localhost:3000/checkAnswer?answer=${ans}&question=${ques}`).then(async (data) => {
                //console.log(await data.json())
                const results = await data.json();
                if (results){
                    answerDiv.classList.add("visible")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    answerDiv.innerText = ("Correct")
                } else {
                    answerDiv.classList.add("visible")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    answerDiv.innerText = ("Wrong")
                    
                }
            })
        }

        //     buttons.forEach(button => {
        //         button.addEventListener('click', () => {
        //             console.log('done')
        //             fetch(`http://localhost:3000/checkAnswer?q=1`).then(async (data)=>{
        //             console.log(await data.json())
        //         })
        //     })
        // })


        // button.addEventListener("click", (event) => {
        //     if(event.target.id == "true"){
        //         fetch(`http://localhost:3000/true`).then(async (data)=>{
        //         console.log(await data.json())
        //     })}
        //     if(event.target.id == "false"){
        //         fetch(`http://localhost:3000/false`).then(async (data)=>{
        //         console.log(await data.json())
        //     })}
        // })

    </script>
</body>

</html>