<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <img src="../public/"/>
    <h1>Question: ____</h1>
    <form id="fromOneId">
        <button name="q1"></button>
        <button name="q2"></button>
        <button name="q3"></button>
        <button id="questionOneId" name="q4"></button>
    </form>
</body>

</html>