<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .visible{
            position: absolute;
            top:20%;
            left:50%;
            width: 400px;
            height: 300px;
            background-color: blanchedalmond;
        }
        .visibleNextButton{
            display:block
        }

        .defaultNextButton{
            visibility: hidden;
        }
    </style>
</head>

<body>
    <!-- <img src="../public/1.jpeg"/> -->
    <h1>{allQuestions[].ques}</h1>
    <button onclick="SendAnswer(1,{})">Has met both Prince Harry and Hugh Jackman</button>
    <button onclick="SendAnswer(2,{})">Has gone bungee jumping </button>
    <button onclick="SendAnswer(3,{})">Can name all the US States in alphabetical order</button>
    <button onclick="SendAnswer(4,{})">Has seen Gilmore Girls 10 times through </button>
   
    <div>
        <h2></h2>
        <a id="nextButton" class="defaultNextButton" href="/q2">
            <button>Next</button>
        </a>
        <h3 id="score"></h3>
    </div>
    
    
    <script>
       var answerDiv = document.querySelector("div")
        var rightWrong = document.querySelector("h2")
        var nextButton = document.querySelector("#nextButton")
        var scoreNum = document.querySelector("#score")
        function SendAnswer(ans, ques) {
            fetch(`http://localhost:3000/checkAnswer?answer=${ans}&question=${ques}`).then(async (data) => {
                //console.log(await data.json())
                const results = await data.json();
                
                if (results.fact){
                    answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Correct")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    scoreNum.innerText = (results.score)
                } else {
                    answerDiv.classList.add("visible")
                    rightWrong.innerText = ("Wrong")
                    nextButton.classList.add("visibleNextButton")
                    nextButton.classList.remove("defaultNextButton")
                    scoreNum.innerText = (results.score)
                    
                }
            })
        }

    </script>
</body>

</html>