body {
    display: flex;
    justify-content:center;
    flex-direction: column;
    background-image: url("/public/classroom.png");
}

.body {
    display: flex;
    background-color: #386C94;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height:100vh;
    opacity: 0.6;
    animation-name: backdrop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes backdrop {
    0%  {background-color: #B5CFE3;}
    20% {background-color: #97BCD8;}
    40% {background-color: #7AA9CD;}
    60% {background-color: #5C96C1;}
    80% {background-color: #4382B1;}
  }

img {
    display: flex;
    align-self:center;
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-top:75px;
    border: 2px solid #516789;
    position: relative;
    animation: intro 4s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

  @keyframes intro {
    0% {transform: translatey(0px); opacity:0.9}
    50% {transform: translatey(-20px);}
    100% {transform: translatey(0px);}
  }

.heading {
    font-family: 'Laila';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    text-align: center;
    margin-top: 100px;
    color: #FFFFFF;
    animation: float 10s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes float {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-5px);}
    75% {transform: translatey(0px);}
  }

a {
    text-decoration: none;
    color: #191a0b;
}

button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: 'Laila';
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 40px;
    line-height: 62px;
    height: 80px;
    width: 295px;
    border-radius: 10px;
    margin-top: 75px;
    background: #FFFFFF;
    color: #000000;
    animation: float 10s ease-in-out;
    animation-iteration-count: infinite;
    transition: width 2s, height 2s;

}

button:hover {
    width: 350px;
    height: 100px;
}