body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-image: url("classroom.png");
}

.overlay {
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    height:100%;
    width: 100%;
    opacity: 0.6;
    animation-name: backdrop;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    z-index: -1;
}


.image {
    display: flex;
    align-self:center;
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-top:75px;
    border: 2px solid #516789;
    position: relative;
    animation: intro 4s ease-in-out infinite;
    animation-direction: alternate-reverse;
}

@keyframes backdrop {
  0% {background-color:#7AA9CD;}
  20% {background-color: #97BCD8;}
  40% {background-color: #C4D8E8;}
  60% {background-color: #B5CFE3;}
  80% {background-color: #5C96C1;}
  100% {background-color: #4382B1;}
}

img {
  display: flex;
  align-self:center;
  width:125px;
  height:125px;
  border-radius: 50%;
  margin-top: 60px;
  opacity: 0.8;
  border: 2px solid #336084;
  position: relative;
  animation: image 4s ease-in-out infinite;
  animation-direction: alternate-reverse;
}

  @keyframes image {
    0% {transform: translatey(0px); opacity:0.9}
    50% {transform: translatey(-20px);}
    100% {transform: translatey(0px);}
  }

.avatars {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.subheading {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-top: 150px;
  color: #000000;
  animation: float 10s ease-in-out infinite;
}

.heading {
  font-family: 'Laila';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: #000000;
  animation: float 10s ease-in-out infinite;
}

@keyframes float {
    0% {transform: translatey(0px);}
    50% {transform: translatey(-5px);}
    75% {transform: translatey(0px);}
  }

a {
    text-decoration: none;
    color: #FFFFFF;
}


#name-input{
  width: 300px;
  height: 35px;
  border: none;
  border-radius: 3px;
}

#name-button {
  text-align: center;
  align-self: center;
  font-family: 'Laila';
  font-style: normal;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background: #327DA1;
  color: #ffffff;
  border: none;
  margin: 15px;
}


.start {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-self: center;
    font-family: 'Laila';
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 31px;
    line-height: 62px;
    width: 260px;
    height: 65px;
    border-radius: 10px;
    margin-top: 75px;
    background: #FFFFFF;
    color: #000000;
    animation: float 10s ease-in-out;
    animation-iteration-count: infinite;
    transition: width 0.5s, height 0.5s;

}

.start:hover {
    width: 350px;
    height: 100px;
    margin-top: 90px;
    background: #327DA1;
    color: #FFFFFF;
    animation: float 10s ease-in-out infinite;
    transition: width 2s, height 2s;

}

button:hover {
  width: 275px;
  height: 85px;
}